<!DOCTYPE html>
<html>
  <header>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Pierre's Vendor Management Page</title>
  </header>
  <body>
    @RenderBody();
  </body>
</html>